.label.uiLabel {
    padding-right: 12px;
}

.field-input {
    padding: 5px;
    border: 1px solid #dce4ec;
    border-radius: 2px;
    height: 40px;
    width: 60px;
}

.product-buy-button {
    padding: 10px 21px 10px 20px;
    height: 40px;
    width: 180px;
    background: #61ae10;
}